body{
	font-family: Arial;
	background: #333;
}
/*nav*/
/*generales*/
nav ul{
	list-style: none;
	padding: 0;
}
nav li{
	line-height: 3rem;
	position: relative;
}
nav li ul{
	position: absolute;
}
nav a {
	color: #ddd;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	transition: .4s;
}
nav a:hover{
	background: rgba(0,0,0,.5);
}
/*nav li ul{
	display: none;
}
nav li:hover >ul{
	display: block;
}
*/
/*primer nivel*/
nav > ul {
	background: #333;
	display: table;
	width: 100%;
} 
nav > ul  >li {
	float: left;
}
/*segundo nivel*/
nav li li{
	background: #222;
	max-height: 0;
	overflow: hidden;
	width: 250px;
	transition: all .24s;
}
nav li:hover >ul >li{
	max-height: 500px;
	overflow: visible;
}
nav > ul > li > ul{
	top: 100%;
}
/*tercer nivel*/
/*nav > ul ul ul{
	left: 100%;
	top: 0;
}*/
/*header*/
header h1{
	text-align: center;
	color: #C7C7C7;
}
/*section*/
section h1{
	text-align: center;
	padding-top: 70px;
}
section p{
	padding: 20px;
	padding-top: 50px;
	padding-left: 300px;
	padding-right: 300px;
	text-align: center;
	color: #C7C7C7;
	font-family: sans-serif;
	font-size: 14px;
	justify-content: space-between;
}
section .button_cool{
	padding: 130px;
}
#for_userrs{
	background: #154360;
	padding-top: 20px;
}
/*footer*/
*{
	margin: 0px;
	padding:0px; 
	box-sizing: border-box;
	font-family: sans-serif;
}
footer{
	width: 100%;
	background: #202020;
	color: white;

}

.container-footer-all{
	width: 100%;
	max-width: 1200px;
	margin: auto;
	padding: 50px;
}
.container-body{
	display: flex;
	justify-content: space-between;
}
.column1{
	max-width: 400px;

}
.column1 h1{
	font-size: 22px;
}
.column1 p{
	font-size: 14px;
	color: #C7C7C7;
	margin-top: 20px;
}
.column2{
	max-width: 400px;
}
.column2 h1{
	font-size: 22px;
}
.column2 .row{
	margin-top: 20px;
	display: flex; 
}
.row img{
	width: 36px;
	height: 36px;
}
.row label{
	margin-top: 10px;
	margin-left: 20px;
	color: #C7C7C7; 
}
.row a{
	text-decoration: none;
	color: #C7C7C7;
}
.column3{
	max-width: 400px;
}
.column3 h1{
	font-size: 22px;
}
.row2{
	margin-top: 20px;
	display: flex;
}
.row2 img{
	width: 36px;
	height: 36px;
}
.row2 label{
	margin-left: 20px;
	max-width: 150px;
	margin-top: 10px;
}
.container-footer{
	width: 100%;
	background: #101010;
}  
.footer{
	max-width: 1200px;
	margin: auto;
	display: flex;
	justify-content: space-between;
	padding: 20px;
}
.copyright{
	color: #C7C7C7;
}
.copyright a{
	text-decoration: none;
	color: white;
	font-weight: bold;
}
.information a{
	text-decoration: none;
	color: #C7C7C7;
}